<!DOCTYPE Html>
<html>
  <Head>
    <title>
      About Sairam
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </Head>
  <body>
    <div class = container>
      <h1 class='text-center mt-2 mb-4'>
        Hey Sairam
      </h1>
      <img class = img-fluid src= "https://sairam-badiga.sairambadiga199.repl.co/static/Banner.jpg">
      <h2 class='text-center mt-2 mb-4'>About Sairam </h2>
      <p class ='lead text-center'>𝘏𝘦𝘺 𝘵𝘩𝘪𝘴 𝘴𝘪𝘵𝘦 𝘵𝘦𝘭𝘭𝘴 𝘢𝘣𝘰𝘶𝘵 𝘴𝘢𝘪𝘳𝘢𝘮, 𝘛𝘩𝘪𝘴 𝘵𝘦𝘹𝘵 𝘪𝘴 𝘣𝘦𝘪𝘯𝘨 𝘵𝘢𝘬𝘦𝘯 𝘧𝘳𝘰𝘮 𝘓𝘪𝘯𝘨𝘰𝘫𝘢𝘮. 𝘏𝘰𝘱𝘦 𝘺𝘰𝘶 𝘭𝘪𝘬𝘦 𝘵𝘩𝘪𝘴 𝘵𝘦𝘹𝘵!</p>
      <h2 class='text-center mt-5 mb-4'>
        {{companyname}} Careers
      </h2>
        {% include 'jobs.html' %}
      <div style="text-align:center;">
      <button class="btn btn-outline-primary mt-2 mb-4">Contact Us</button>
      </div>
    </div>
  </body>
    
  
    
</html>