<!DOCTYPE Html>
<html>
  <Head>
    <title>
      About Sairam
    </title>
    {% include 'Bootstrap.html' %}
  </Head>
  <body>
    <div class = container>
      <h1 class='text-center mt-2 mb-4'>
        Hey Sairam
      </h1>
      {% include 'Banner.html' %}
      <h2 class='text-center mt-2 mb-4'>About Sairam </h2>
      <p class ='lead text-center'>𝘏𝘦𝘺 𝘵𝘩𝘪𝘴 𝘴𝘪𝘵𝘦 𝘵𝘦𝘭𝘭𝘴 𝘢𝘣𝘰𝘶𝘵 𝘴𝘢𝘪𝘳𝘢𝘮, 𝘛𝘩𝘪𝘴 𝘵𝘦𝘹𝘵 𝘪𝘴 𝘵𝘢𝘬𝘦𝘯 𝘧𝘳𝘰𝘮 𝘓𝘪𝘯𝘨𝘰𝘫𝘢𝘮. 𝘏𝘰𝘱𝘦 𝘺𝘰𝘶 𝘭𝘪𝘬𝘦 𝘵𝘩𝘪𝘴 𝘵𝘦𝘹𝘵!</p>
      <h2 class='text-center mt-5 mb-4'>
        {{companyname}} Careers
      </h2>
        {% include 'jobs.html' %}
      <a class="btn btn-primary mt-5 mb-4" href="www.google.com" role="button">Contact Us</a>
    </div>
  </body>
    
  
    
</html>